<section class="section">

  <h1 class="title has-text-centered">Alpha Bloggers</h1>
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
      <div class="card column is-one-third">
        <header class="card-header">
          <p class="card-header-title">
            <%= link_to user.username, user %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <%= link_to gravatar_for(user, size: 150), user %>
            <%= pluralize(user.articles.count, "article") %>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item ">
            <%= link_to 'View profile', user, class: "button is-success"%>
          </div>
          <% if logged_in? && user == current_user %>

          <div class="card-footer-item">
            <%= link_to 'Edit profile', edit_user_path(user), class: "button is-info" %>
          </div>
          <% end %>
          <div class="card-footer-item">
            <small>Joined <%= time_ago_in_words(user.created_at) %> </small>
          </div>
        </footer>
      </div>
      <% end %>
    </div>
  </div>
</section>