<section class="section">
  <h1 class="title has-text-centered">
    Category: <%= @category.name %>
  </h1>
  <% if logged_in? && current_user.admin? %>
  <div class="has-text-centered">
    <%= link_to "Edit category name.", edit_category_path(@category), class: "button is-info" %>
  </div>
  <% end %>
  <h2 class="subtitle mt-4">Articles</h2>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
</section>