<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Alpha Blog
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <%= link_to  "Bloggers", users_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Articles
        </a>

        <div class="navbar-dropdown">
          <% if logged_in? %>

          <div class="navbar-item">
            <%= link_to  "Create new article", new_article_path, class: "dropdown-item" %>
          </div>
          <% end %>
          <div class="navbar-item">
            <%= link_to "View articles", articles_path, class: "dropdown-item" %>
          </div>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <% if logged_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to current_user.username, user_path(current_user), class: "navbar-link" %>
        <div class="navbar-dropdown">
          <% if logged_in? %>
          <div class="navbar-item">
            <%= link_to  "View your profile", user_path(current_user), class: "dropdown-item" %>
          </div>
          <% end %>
          <div class="navbar-item">
            <%= link_to  "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
          </div>
          <div class="navbar-item">
            <%= button_to "Delete profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item has-text-danger" %>
          </div>
        </div>
      </div>
        <%= button_to "Logout", logout_path, method: :delete, class: "button logout-button is-light" %>
        <% else %>
        <div class="buttons">
          <%= link_to  "Sign Up", signup_path, class: "button signup-button" %>
          <%= link_to  "Log In", login_path, class: "button login-button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>